/**
 * This support file is used to style the WYSIWYG editor in the CMS
 */
 .button {
 background:#CCCCCC;
 padding:10px;
 border-radius:5px;
 margin:10px ;
 }
#grid {

border:0px solid red;
}
#Form_ProjectForm {
width:100% !important;
}
.ss-gridfield-table {
width:100%;
}
#grid .main {
padding:10px;
}

.standard {
width:100%;
margin:10px 0;
}
.standard td {
border:1px solid #ccc;

padding:5px;
}
.standard th {
	background: #333333;
		color: #fff;
		font-size: 1.2em;
		padding-right:5px;
}
.standard tr:nth-child(even) {
      background-color: #ededed
  }
.standard .title {
color:#0066CC;
font-weight:bold;
background: #eee;
}
#controls {
float:right;
border:1px solid #ccc;
margin:0 10px 0 0;
padding:10px;
}
#controls td{
text-transform:capitalize;
text-align:left;
padding:5px;
border:1px solid #ccc;
}
#overviewtable {
float:right;
border:1px solid #ccc;
}
#overviewtable td{
border:1px solid #ccc;
padding:5px;
text-align:right;
}
#overviewtable th{
text-transform:capitalize;
text-align:left;
padding:5px;
}
.TheProject {
width:960px;
margin:0 auto;

}
.lhalf {
float:left;
width:38%;
border:1px solid #ccc;
padding:5px;
margin:0px 0 0 0;
}
.rhalf table {
float:right;
display:inline-block;
padding-left:10px;
padding-right:10px;
list-style:none;
border:1px solid #ccc;
min-height:110px ;

margin: 5px;

}
.rhalf table th {
text-align:left;
padding-right:10px;

}
.rhalf table .title {
height:23px;
}

.rhalf {

float:right;
border:0px solid red;
margin:10px 0 0 0 ;
}

.rhalf table .title {
text-align:center;
border-bottom:1px solid #ccc;
}
.clear {
clear:both;
}
.red {
color:red;


}
.yellow {
background:#FFFFCC !important;
color:#FF9900;
}
.green {
background:#DAEDD1;
color:#009966;
}
.comp {
color:#009900;
background: #E1F9CC !important;
}
.late {
color: #FF0000;
background: #F8C0BA !important;

}

.info, #Tasks{
clear:both;
margin:10px ;
padding:10px 0;
border:0px solid red;
}
.info h3 {
text-align:center;
Border-top:1px solid #ccc;
}
.info ul {
list-style:none;
}
.TheTask {

}
.TaskDesc {
float:right;
width:60%;
}
#Tasks {
clear:both;
Border-top:1px solid #ccc;
}

#formbloc h3{
text-align:center;
}
#Form_addWorkForm_HoursSpent {

width:60px;
}
#Form_addWorkForm_EstimatedHoursRemaining {

width:60px;
}
#Form_addTaskForm_OriginalHourEstimate {

width:90px;
}
#Form_addTaskForm_DueDate {
width:90px;
}
.form90 {
width:90px;
}
.form450 {
width:450px;
}
#Form_addTaskForm_Description, #Form_addTaskForm_Title {
margin:0 auto;
width:450px;
}
.addForm {
width:940px;
margin:0 auto;
}
.formright {
float:right;
}
.formleft {
float:left;
}
#Form_addProjectForm_Description, #Form_editProjectForm_Description, #Form_editTaskForm_Description {
width:600px;
height:200px;
}
.checkboxes {
float:left;

}
.checkboxes ul {
	
border-radius:10px;
background:#D8D8D8;
list-style:none ;
padding:5px;
columns: 2 12em; /* two columns, each 12em width */
column-gap: 1em; /* spacing between columns */
column-rule: 1px dashed silver; /* border between columns */
-moz-columns: 2 ; /* for Gecko */
-moz-column-gap: 0.5em; 
-moz-column-rule: 1px dashed silver; 
-webkit-columns: 2 ; /* for WebKit */
-webkit-column-gap: 0.5em;
-webkit-column-rule: 1px dashed silver; 
width:30em;
}

.checkboxes label {
display:inline;
margin-bottom: 5px;
color: #333;
}
.checkboxes ul li { 
display: block;
padding: .2em 1em;
 }
 #Form_approveForm {
 margin:0;
 }
 #Form_approveForm_action_doapprove {
 background:#FF0000;
 color:#fff;
 }